<div class="row flex-content-center py-4">
  <div class="col-auto details-box">
    <div class="row">
      <div class="col-12">
        <strong class="text-title text-blue">{{block.title}}</strong>
      </div>
      <div class="col-12">
        {{block.description}}
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-12 member-link">
        <a href="mailto:{{block.link}}" class="text-decoration-none">{{block.link}}</a>
      </div>
      <div class="col-12">
        {{block.text}}
      </div>
    </div>
  </div>
</div>
